html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}


/* a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
} */

/* img {
  max-width: 100%;
  display: block;
} */

/* Groovenexus Code */
.img {
  margin-top: 87px;
}
/* @media only screen and (min-width: 320px){
  .img {
  margin-top: 87px;
}
}
@media only screen and (min-width: 365px){
  .img {
  margin-top: 87px;
}
}
@media only screen and (min-width: 425px){
  .img {
  margin-top: 87px;
}
}
@media only screen and (min-width: 768px){
  .img {
  margin-top: 87px;
}
}
@media only screen and (min-width: 1024px){
  .img {
  margin-top: 76px;
}
}
@media screen and (min-width: 1440){
  .img {
  margin-top: 88px;
}
}
@media screen and (min-width: 1920){
  .img {
  margin-top: 150px ;
}
} */
/* @media screen and (max-width: 1280){
  .img {
  margin-top: 97px !important;
}
}
@media screen and (max-width: 1920){
  .img{
    position: absolute !important;
    top: -104px !important;
    z-index: -1 !important;
  }
}
@media screen and (max-width: 2560){
  .img{
    position: absolute !important;
    top: -104px !important;
    z-index: -1 !important;
  }
}
@media screen and (max-width: 3840){
  .img{
    position: absolute !important;
    top: -200px !important;
    z-index: -1 !important;
  }
}
@media screen and (max-width: 2560px){
  .img{
    position: absolute !important;
    top: -200px !important;
    z-index: -1 !important;
  }
} */
.bg-footcolor{
    background: #242439 !important;
    
}
/* ./Groovenexus Code */
/* ul {
  list-style-type: none;
} */
.bg-pink{
  color: #ED1C24B2 !important;
}

/* textarea{
  background: #F4F7FA;
opacity: 0.5;
border: 1px solid rgba(0, 0, 0, 0.2);
box-sizing: border-box;
border-radius: 5px;
} */
p{
  /* font-family: Roboto; */
font-size: 16px !important;
font-style: normal !important;
font-weight: 400 !important;
line-height: 23px !important;
letter-spacing: 0em !important;
text-align: left !important;
opacity: 0.80 !important;

}
.nav-button{
  background: #ED1C24 !important;
  border-radius: 4px !important;
}
/* ***************************Navbar Typography******************* */

.typo{
  font-family: Roboto !important;
font-style: normal !important;
font-weight: normal !important;
font-size: 16px !important;
line-height: 19px !important;

}